.TodoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #5959d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#addtaskbtn {
    cursor: pointer;
    background-color: rgb(109, 109, 180);
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 5px;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.listItems {
    background: white;
    list-style-type: none;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 6px 11px;
    margin: 10px;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.deleteBtn{
    padding: 10px;
    margin: 10px;
    background-color: orangered;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.input{
    padding: 5px 10px;
    margin: 10px;
}

.editBtn{
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 5px;
}